@layer components {
    /* Button */
    .button {
        @apply inline-flex items-center justify-center gap-2;
        @apply h-14 max-h-14 min-h-14 min-w-14 px-6;
        @apply text-normal text-foreground text-center;
        @apply transition-colors;
        @apply cursor-pointer appearance-none outline-0 select-none;

        & > i {
            @apply icon text-current;
        }

        &:has(i:first-child) {
            @apply pl-4.5;
        }

        &:has(i:last-child) {
            @apply pr-4.5;
        }

        /* Fill style */
        &.button-fill-primary {
            @apply bg-primary hover:bg-primary-hover;
            @apply text-primary-foreground;
        }

        &.button-fill-muted {
            @apply bg-muted hover:bg-muted-hover;
            @apply text-muted-foreground;
        }

        &.button-fill-accent {
            @apply bg-accent hover:bg-accent-hover;
            @apply text-accent-foreground;
        }

        &.button-fill-destructive {
            @apply bg-error hover:bg-error-hover;
            @apply text-error-foreground;
        }

        /* Outline style */
        &.button-outline-primary,
        &.button-outline-muted,
        &.button-outline-accent,
        &.button-outline-destructive {
            @apply px-[23px];
            @apply border-1;

            &:has(i:first-child) {
                @apply pl-[17px];
            }

            &:has(i:last-child) {
                @apply pr-[17px];
            }
        }

        &.button-outline-primary {
            @apply hover:bg-primary-hover;
            @apply border-primary hover:border-primary-hover;
            @apply text-primary hover:text-primary-foreground;
        }

        &.button-outline-muted {
            @apply hover:bg-muted-hover;
            @apply border-muted hover:border-muted-hover;
            @apply text-muted-foreground;
        }

        &.button-outline-accent {
            @apply hover:bg-accent-hover;
            @apply border-accent hover:border-accent-hover;
            @apply text-accent hover:text-accent-foreground;
        }

        &.button-outline-destructive {
            @apply hover:bg-error-hover;
            @apply border-error hover:border-error-hover;
            @apply text-error hover:text-error-foreground;
        }

        /* Text style */
        &.button-primary {
            @apply text-primary hover:text-primary-hover;
        }

        &.button-muted {
            @apply text-muted-foreground-variant hover:text-gray-40-hover dark:hover:text-gray-60-hover;
        }

        &.button-accent {
            @apply text-accent hover:text-accent-hover;
        }

        &.button-destructive {
            @apply text-error hover:text-error-hover;
        }

        /* Disabled style */
        &:disabled {
            @apply text-muted-foreground-variant;
            @apply cursor-not-allowed;

            &.button-fill-primary,
            &.button-fill-muted,
            &.button-fill-accent,
            &.button-fill-destructive {
                @apply bg-gray-20 dark:bg-gray-80;
            }

            &.button-outline-primary,
            &.button-outline-muted,
            &.button-outline-accent,
            &.button-outline-destructive {
                @apply bg-transparent;
                @apply border-muted-foreground-variant;
            }
        }
    }

    /* Card */
    .card {
        @apply flex flex-col content-start justify-start gap-2;
        @apply w-64;
        @apply cursor-pointer select-none;

        > div {
            @apply aspect-portrait w-full;
            @apply bg-muted;
            @apply overflow-hidden;

            img {
                @apply h-full w-full object-cover;
                @apply border-none outline-0;
                @apply transition-transform duration-300 ease-in-out;
            }
        }

        > span {
            @apply w-full;
            @apply text-normal text-muted-foreground-variant line-clamp-2 text-left text-ellipsis;
            @apply transition-colors duration-300 ease-in-out;
        }

        &:hover {
            > div img {
                @apply scale-110;
            }

            > span {
                @apply text-primary;
            }
        }
    }

    /* Checkbox */
    label:has(> input[type="checkbox"].checkbox) {
        @apply inline-flex flex-row items-center justify-start gap-2;
        @apply text-normal text-foreground-variant;
        @apply select-none;

        &:has(:disabled) {
            @apply text-muted-foreground-variant;
        }
    }

    input[type="checkbox"].checkbox {
        @apply relative;
        @apply h-5 w-5;
        @apply bg-transparent;
        @apply border-border hover:border-border-hover rounded-full border-1;
        @apply transition-colors;
        @apply cursor-pointer appearance-none outline-0 select-none;

        &::before {
            content: "\ea38";
            @apply absolute top-1/2 left-1/2;
            @apply text-primary-foreground icon-alt;
            @apply opacity-0;
            @apply -translate-1/2;
            @apply transition-opacity;
        }

        &:checked {
            @apply bg-primary hover:bg-primary-hover;
            @apply border-primary hover:border-primary-hover;

            &::before {
                @apply opacity-100;
            }
        }

        &:disabled {
            @apply border-gray-20 dark:border-gray-80;
            @apply cursor-not-allowed;

            &:checked {
                @apply bg-gray-20 dark:bg-gray-80;
                @apply border-gray-20 dark:border-gray-80;

                &::before {
                    @apply text-muted-foreground-variant;
                }
            }
        }
    }

    /* Lightbox */
    .lightbox {
        @apply fixed top-0 left-0 z-[90];
        @apply flex flex-col items-center justify-center gap-2;
        @apply h-full w-full;
        @apply p-(--space-y);
        @apply bg-background;
        @apply cursor-default overflow-hidden select-none;

        > div {
            @apply block content-center;
            @apply w-full;
            @apply overflow-hidden;
            @apply animate-clip-bottom animation-delay-500;

            > img {
                @apply bg-muted mx-auto aspect-auto h-auto max-h-full w-auto max-w-full object-contain;
            }
        }

        > span {
            @apply text-normal text-foreground-variant text-center;
            @apply animate-fade animation-delay-[375ms];
        }

        > button {
            @apply absolute top-3 right-3;
            @apply animate-clip-left;
        }
    }

    /* Link */
    .link {
        @apply inline-block;
        @apply text-normal text-accent hover:text-accent-hover font-semibold;
        @apply active:animate-shake transition-colors;
        @apply cursor-pointer;
    }

    /* Mosaic */
    .mosaic {
        @apply flex flex-col items-center justify-start gap-[calc(var(--space)*4)] md:grid md:justify-center;

        &.size-1 {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            grid-auto-rows: calc(100vw - (var(--space-x) * 2));
        }

        &.size-2 {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-auto-rows: calc(
                (100vw - (var(--space-x) * 2) - (var(--space) * 4)) / 2
            );
        }

        &.size-3 {
            grid-template-columns: repeat(3, minmax(0, 1fr));
            grid-auto-rows: calc(
                (100vw - (var(--space-x) * 2) - (var(--space) * 4 * 2)) / 3
            );
        }

        &.size-4 {
            grid-template-columns: repeat(4, minmax(0, 1fr));
            grid-auto-rows: calc(
                (100vw - (var(--space-x) * 2) - (var(--space) * 4 * 3)) / 4
            );
        }

        &.size-5 {
            grid-template-columns: repeat(5, minmax(0, 1fr));
            grid-auto-rows: calc(
                (100vw - (var(--space-x) * 2) - (var(--space) * 4 * 4)) / 5
            );
        }

        &.size-6 {
            grid-template-columns: repeat(6, minmax(0, 1fr));
            grid-auto-rows: calc(
                (100vw - (var(--space-x) * 2) - (var(--space) * 4 * 5)) / 6
            );
        }

        &.size-7 {
            grid-template-columns: repeat(7, minmax(0, 1fr));
            grid-auto-rows: calc(
                (100vw - (var(--space-x) * 2) - (var(--space) * 4 * 6)) / 7
            );
        }

        &.size-8 {
            grid-template-columns: repeat(8, minmax(0, 1fr));
            grid-auto-rows: calc(
                (100vw - (var(--space-x) * 2) - (var(--space) * 4 * 7)) / 8
            );
        }

        &.size-9 {
            grid-template-columns: repeat(9, minmax(0, 1fr));
            grid-auto-rows: calc(
                (100vw - (var(--space-x) * 2) - (var(--space) * 4 * 8)) / 9
            );
        }

        &.size-10 {
            grid-template-columns: repeat(10, minmax(0, 1fr));
            grid-auto-rows: calc(
                (100vw - (var(--space-x) * 2) - (var(--space) * 4 * 9)) / 10
            );
        }

        &.size-11 {
            grid-template-columns: repeat(11, minmax(0, 1fr));
            grid-auto-rows: calc(
                (100vw - (var(--space-x) * 2) - (var(--space) * 4 * 10)) / 11
            );
        }

        &.size-12 {
            grid-template-columns: repeat(12, minmax(0, 1fr));
            grid-auto-rows: calc(
                (100vw - (var(--space-x) * 2) - (var(--space) * 4 * 11)) / 12
            );
        }

        &.size-13 {
            grid-template-columns: repeat(13, minmax(0, 1fr));
            grid-auto-rows: calc(
                (100vw - (var(--space-x) * 2) - (var(--space) * 4 * 12)) / 13
            );
        }

        &.size-14 {
            grid-template-columns: repeat(14, minmax(0, 1fr));
            grid-auto-rows: calc(
                (100vw - (var(--space-x) * 2) - (var(--space) * 4 * 13)) / 14
            );
        }

        &.size-15 {
            grid-template-columns: repeat(15, minmax(0, 1fr));
            grid-auto-rows: calc(
                (100vw - (var(--space-x) * 2) - (var(--space) * 4 * 14)) / 15
            );
        }

        &.size-16 {
            grid-template-columns: repeat(16, minmax(0, 1fr));
            grid-auto-rows: calc(
                (100vw - (var(--space-x) * 2) - (var(--space) * 4 * 15)) / 16
            );
        }

        &.size-17 {
            grid-template-columns: repeat(17, minmax(0, 1fr));
            grid-auto-rows: calc(
                (100vw - (var(--space-x) * 2) - (var(--space) * 4 * 16)) / 17
            );
        }

        &.size-18 {
            grid-template-columns: repeat(18, minmax(0, 1fr));
            grid-auto-rows: calc(
                (100vw - (var(--space-x) * 2) - (var(--space) * 4 * 17)) / 18
            );
        }

        &.size-19 {
            grid-template-columns: repeat(19, minmax(0, 1fr));
            grid-auto-rows: calc(
                (100vw - (var(--space-x) * 2) - (var(--space) * 4 * 18)) / 19
            );
        }

        &.size-20 {
            grid-template-columns: repeat(20, minmax(0, 1fr));
            grid-auto-rows: calc(
                (100vw - (var(--space-x) * 2) - (var(--space) * 4 * 19)) / 20
            );
        }

        &.size-21 {
            grid-template-columns: repeat(21, minmax(0, 1fr));
            grid-auto-rows: calc(
                (100vw - (var(--space-x) * 2) - (var(--space) * 4 * 20)) / 21
            );
        }

        &.size-22 {
            grid-template-columns: repeat(22, minmax(0, 1fr));
            grid-auto-rows: calc(
                (100vw - (var(--space-x) * 2) - (var(--space) * 4 * 21)) / 22
            );
        }

        &.size-23 {
            grid-template-columns: repeat(23, minmax(0, 1fr));
            grid-auto-rows: calc(
                (100vw - (var(--space-x) * 2) - (var(--space) * 4 * 22)) / 23
            );
        }

        &.size-24 {
            grid-template-columns: repeat(24, minmax(0, 1fr));
            grid-auto-rows: calc(
                (100vw - (var(--space-x) * 2) - (var(--space) * 4 * 23)) / 24
            );
        }

        > * {
            @apply col-auto row-auto !h-full !w-full md:!aspect-[auto];
        }

        > .col-1 {
            @apply !col-span-1;
        }

        > .col-2 {
            @apply !col-span-2;
        }

        > .col-3 {
            @apply !col-span-3;
        }

        > .col-4 {
            @apply !col-span-4;
        }

        > .col-5 {
            @apply !col-span-5;
        }

        > .col-6 {
            @apply !col-span-6;
        }

        > .col-7 {
            @apply !col-span-7;
        }

        > .col-8 {
            @apply !col-span-8;
        }

        > .col-9 {
            @apply !col-span-9;
        }

        > .col-10 {
            @apply !col-span-10;
        }

        > .col-11 {
            @apply !col-span-11;
        }

        > .col-12 {
            @apply !col-span-12;
        }

        > .col-13 {
            @apply !col-span-13;
        }

        > .col-14 {
            @apply !col-span-14;
        }

        > .col-15 {
            @apply !col-span-15;
        }

        > .col-16 {
            @apply !col-span-16;
        }

        > .col-17 {
            @apply !col-span-17;
        }

        > .col-18 {
            @apply !col-span-18;
        }

        > .col-19 {
            @apply !col-span-19;
        }

        > .col-20 {
            @apply !col-span-20;
        }

        > .col-21 {
            @apply !col-span-21;
        }

        > .col-22 {
            @apply !col-span-22;
        }

        > .col-23 {
            @apply !col-span-23;
        }

        > .col-24 {
            @apply !col-span-24;
        }

        > .row-1 {
            @apply !row-span-1;
        }

        > .row-2 {
            @apply !row-span-2;
        }

        > .row-3 {
            @apply !row-span-3;
        }

        > .row-4 {
            @apply !row-span-4;
        }

        > .row-5 {
            @apply !row-span-5;
        }

        > .row-6 {
            @apply !row-span-6;
        }

        > .row-7 {
            @apply !row-span-7;
        }

        > .row-8 {
            @apply !row-span-8;
        }

        > .row-9 {
            @apply !row-span-9;
        }

        > .row-10 {
            @apply !row-span-10;
        }

        > .row-11 {
            @apply !row-span-11;
        }

        > .row-12 {
            @apply !row-span-12;
        }

        > .row-13 {
            @apply !row-span-13;
        }

        > .row-14 {
            @apply !row-span-14;
        }

        > .row-15 {
            @apply !row-span-15;
        }

        > .row-16 {
            @apply !row-span-16;
        }

        > .row-17 {
            @apply !row-span-17;
        }

        > .row-18 {
            @apply !row-span-18;
        }

        > .row-19 {
            @apply !row-span-19;
        }

        > .row-20 {
            @apply !row-span-20;
        }

        > .row-21 {
            @apply !row-span-21;
        }

        > .row-22 {
            @apply !row-span-22;
        }

        > .row-23 {
            @apply !row-span-23;
        }

        > .row-24 {
            @apply !row-span-24;
        }
    }

    /* Slider */
    label:has(> input[type="range"].slider) {
        @apply inline-flex flex-row items-center justify-start gap-2;
        @apply w-full;
        @apply text-normal text-foreground-variant lining-nums tabular-nums;
        @apply select-none;

        &:has(:disabled) {
            @apply text-muted-foreground-variant;
        }
    }

    input[type="range"].slider {
        @apply h-0.5 w-full;
        background: linear-gradient(
            to right,
            transparent 0.625rem,
            var(--color-primary) 0.625rem,
            var(--color-primary) min(var(--progress, 0%), calc(100% - 0.625rem)),
            var(--color-border) min(var(--progress, 0%), calc(100% - 0.625rem)),
            var(--color-border) calc(100% - 0.625rem),
            transparent calc(100% - 0.625rem)
        );
        @apply cursor-pointer appearance-none outline-0 select-none;

        &::-webkit-slider-thumb,
        &::-moz-range-thumb {
            @apply h-5 w-5;
            @apply bg-primary hover:bg-primary-hover;
            @apply rounded-full;
            @apply active:scale-105;
            @apply transition-all;
            @apply cursor-grab appearance-none outline-0 select-none active:cursor-grabbing;
        }

        &:disabled {
            background: linear-gradient(
                to right,
                transparent 0.625rem,
                var(--color-muted-foreground-variant) 0.625rem,
                var(--color-muted-foreground-variant)
                    min(var(--progress, 0%), calc(100% - 0.625rem)),
                light-dark(var(--color-gray-20), var(--color-gray-80))
                    min(var(--progress, 0%), calc(100% - 0.625rem)),
                light-dark(var(--color-gray-20), var(--color-gray-80))
                    calc(100% - 0.625rem),
                transparent calc(100% - 0.625rem)
            );
            @apply cursor-not-allowed;

            &::-webkit-slider-thumb,
            &::-moz-range-thumb {
                @apply bg-muted-foreground-variant;
                @apply scale-none;
                @apply cursor-not-allowed;
            }
        }
    }

    /* Spinner */
    .spinner {
        @apply inline-block;
        @apply h-20 w-20;
        @apply border-primary rounded-full border-8 border-b-transparent;
        @apply animate-spin;
        @apply cursor-default select-none;
    }

    .spinner-alt {
        @apply inline-block;
        @apply h-4 w-4;
        @apply border-primary border-b-border rounded-full border-3;
        @apply animate-spin;
        @apply cursor-default select-none;
    }

    /* Switch */
    label:has(> input[type="checkbox"].switch) {
        @apply inline-flex flex-row items-center justify-start gap-2;
        @apply text-normal text-foreground-variant;
        @apply select-none;

        &:has(:disabled) {
            @apply text-muted-foreground-variant;
        }
    }

    input[type="checkbox"].switch {
        @apply relative;
        @apply h-5 w-8.5;
        @apply bg-transparent;
        @apply border-border hover:border-border-hover rounded-full border-1;
        @apply transition-colors;
        @apply cursor-pointer appearance-none outline-0 select-none;

        &::before {
            content: "";
            @apply absolute top-1/2 left-0.5;
            @apply h-3.5 w-3.5;
            @apply bg-primary;
            @apply rounded-full;
            @apply -translate-y-1/2;
            @apply transition-all;
        }

        &:checked {
            @apply bg-primary hover:bg-primary-hover;
            @apply border-primary hover:border-primary-hover;

            &::before {
                @apply left-4;
                @apply bg-primary-foreground;
            }
        }

        &:disabled {
            @apply border-gray-20 dark:border-gray-80;
            @apply cursor-not-allowed;

            &::before {
                @apply bg-muted-foreground-variant;
            }

            &:checked {
                @apply bg-gray-20 dark:bg-gray-80;
                @apply border-gray-20 dark:border-gray-80;
            }
        }
    }

    /* Text area */
    label:has(> textarea.input) {
        @apply inline-flex flex-col items-start justify-start gap-1.5;
        @apply w-full;
        @apply text-label text-foreground-variant;
        @apply select-none;

        &[data-helper]::after {
            content: attr(data-helper);
            @apply -mt-0.5;
            @apply text-label text-muted-foreground-variant line-clamp-1 text-ellipsis;
        }

        &:has(:invalid) {
            @apply text-red-70 dark:text-red-30;

            &[data-error]::after {
                content: attr(data-error);
                @apply -mt-0.5;
                @apply text-label text-red-40 dark:text-red-60 line-clamp-1 text-ellipsis;
            }
        }

        &:has(:disabled) {
            @apply text-muted-foreground-variant;

            &::after {
                @apply text-gray-30 dark:text-gray-70;
            }
        }
    }

    textarea.input {
        @apply h-auto min-h-14 w-full;
        @apply p-4;
        @apply bg-muted hover:bg-muted-hover focus:bg-muted-hover;
        @apply border-b-border hover:border-b-border-hover focus:border-b-primary-hover border-b-1;
        @apply text-normal text-foreground placeholder:text-muted-foreground-variant text-left;
        @apply transition-colors;
        @apply resize-none appearance-none outline-0;

        &:invalid {
            @apply bg-red-10 dark:bg-red-90 hover:bg-red-10-hover dark:hover:bg-red-90-hover focus:bg-red-10-hover dark:focus:bg-red-90-hover;
            @apply border-b-red-20 hover:border-b-red-20-hover dark:border-b-red-70 dark:hover:border-b-red-70-hover focus:border-b-error-hover;
            @apply text-normal text-foreground placeholder:text-red-40 placeholder:dark:text-red-60;
        }

        &:disabled {
            @apply bg-gray-20 dark:bg-gray-80;
            @apply border-b-gray-30 dark:border-b-gray-70;
            @apply text-foreground-variant placeholder:text-muted-foreground-variant;
            @apply cursor-not-allowed select-none;
        }
    }

    /* Text input */
    label:has(> input[type="text"].input),
    label:has(> input[type="email"].input),
    label:has(> input[type="password"].input),
    label:has(> input[type="search"].input),
    label:has(> input[type="url"].input),
    label:has(> input[type="tel"].input),
    label:has(> input[type="number"].input) {
        @apply inline-flex flex-col items-start justify-start gap-1.5;
        @apply w-full;
        @apply text-label text-foreground-variant;
        @apply select-none;

        &[data-helper]::after {
            content: attr(data-helper);
            @apply -mt-0.5;
            @apply text-label text-muted-foreground-variant line-clamp-1 text-ellipsis;
        }

        &:has(:invalid) {
            @apply text-red-70 dark:text-red-30;

            &[data-error]::after {
                content: attr(data-error);
                @apply -mt-0.5;
                @apply text-label text-red-40 dark:text-red-60 line-clamp-1 text-ellipsis;
            }
        }

        &:has(:disabled) {
            @apply text-muted-foreground-variant;

            &::after {
                @apply text-gray-30 dark:text-gray-70;
            }
        }
    }

    input[type="text"].input,
    input[type="email"].input,
    input[type="password"].input,
    input[type="search"].input,
    input[type="url"].input,
    input[type="tel"].input,
    input[type="number"].input {
        @apply h-14 w-full;
        @apply px-4;
        @apply bg-muted hover:bg-muted-hover focus:bg-muted-hover;
        @apply border-b-border hover:border-b-border-hover focus:border-b-primary-hover border-b-1;
        @apply text-normal text-foreground placeholder:text-muted-foreground-variant text-left;
        @apply transition-colors;
        @apply appearance-none outline-0;

        &:invalid {
            @apply bg-red-10 dark:bg-red-90 hover:bg-red-10-hover dark:hover:bg-red-90-hover focus:bg-red-10-hover dark:focus:bg-red-90-hover;
            @apply border-b-red-20 hover:border-b-red-20-hover dark:border-b-red-70 dark:hover:border-b-red-70-hover focus:border-b-error-hover;
            @apply text-normal text-foreground placeholder:text-red-40 placeholder:dark:text-red-60;
        }

        &:disabled {
            @apply bg-gray-20 dark:bg-gray-80;
            @apply border-b-gray-30 dark:border-b-gray-70;
            @apply text-foreground-variant placeholder:text-muted-foreground-variant;
            @apply cursor-not-allowed select-none;
        }
    }
}
