:root {
    --component-size: 56px;
    --overflow-size: 64px;

    /* Padding */
    --vertical-padding: 80px;
    --horizontal-padding: 8vw;

    /* Spacing */
    --headline-spacing: 0.84rem;
    --text-spacing: 0.28rem;
    --media-spacing: 0.53rem;

    /* Border */
    --border-width: 1.5px;
    --border-radius: 0px;

    /* Transforms */
    --scale-factor: 0.08;
}

/* Aspect Ratio */
.aspect-ratio-1-1 {
    aspect-ratio: 1;
}

.aspect-ratio-3-2 {
    aspect-ratio: 3/2;
}

.aspect-ratio-4-3 {
    aspect-ratio: 4/3;
}

.aspect-ratio-16-9 {
    aspect-ratio: 16/9;
}

.aspect-ratio-21-9 {
    aspect-ratio: 21/9;
}

.aspect-ratio-2-3 {
    aspect-ratio: 2/3;
}

.aspect-ratio-3-4 {
    aspect-ratio: 3/4;
}

.aspect-ratio-9-16 {
    aspect-ratio: 9/16;
}

.aspect-ratio-9-21 {
    aspect-ratio: 9/21;
}
