@theme {
    /* Colors */
    --color-red-*: initial;
    --color-red-10: #fff1f1;
    --color-red-10-hover: #ffe0e0;
    --color-red-20: #ffd7d9;
    --color-red-20-hover: #ffc2c5;
    --color-red-30: #ffb3b8;
    --color-red-30-hover: #ff99a0;
    --color-red-40: #ff8389;
    --color-red-40-hover: #ff6168;
    --color-red-50: #fa4d56;
    --color-red-50-hover: #ee0713;
    --color-red-60: #da1e28;
    --color-red-60-hover: #b81922;
    --color-red-70: #a2191f;
    --color-red-70-hover: #c21e25;
    --color-red-80: #750e13;
    --color-red-80-hover: #921118;
    --color-red-90: #520408;
    --color-red-90-hover: #66050a;
    --color-red-100: #2d0709;
    --color-red-100-hover: #2d0709;
    --color-orange-*: initial;
    --color-orange-10: #fff2e8;
    --color-orange-10-hover: #ffe2cc;
    --color-orange-20: #ffd9be;
    --color-orange-20-hover: #ffc69e;
    --color-orange-30: #ffb784;
    --color-orange-30-hover: #ff9d57;
    --color-orange-40: #ff832b;
    --color-orange-40-hover: #fa6800;
    --color-orange-50: #eb6200;
    --color-orange-50-hover: #cc5500;
    --color-orange-60: #ba4e00;
    --color-orange-60-hover: #9e4200;
    --color-orange-70: #8a3800;
    --color-orange-70-hover: #a84400;
    --color-orange-80: #5e2900;
    --color-orange-80-hover: #753300;
    --color-orange-90: #3e1a00;
    --color-orange-90-hover: #522200;
    --color-orange-100: #231000;
    --color-orange-100-hover: #421e00;
    --color-amber-*: initial;
    --color-yellow-*: initial;
    --color-yellow-10: #fcf4d6;
    --color-yellow-10-hover: #f8e6a0;
    --color-yellow-20: #fddc69;
    --color-yellow-20-hover: #fccd27;
    --color-yellow-30: #f1c21b;
    --color-yellow-30-hover: #ddb00e;
    --color-yellow-40: #d2a106;
    --color-yellow-40-hover: #bc9005;
    --color-yellow-50: #b28600;
    --color-yellow-50-hover: #9e7700;
    --color-yellow-60: #8e6a00;
    --color-yellow-60-hover: #755800;
    --color-yellow-70: #684e00;
    --color-yellow-70-hover: #806000;
    --color-yellow-80: #483700;
    --color-yellow-80-hover: #5c4600;
    --color-yellow-90: #302400;
    --color-yellow-90-hover: #3d2e00;
    --color-yellow-100: #1c1500;
    --color-yellow-100-hover: #1c1500;
    --color-lime-*: initial;
    --color-green-*: initial;
    --color-green-10: #defbe6;
    --color-green-10-hover: #b6f6c8;
    --color-green-20: #a7f0ba;
    --color-green-20-hover: #74e792;
    --color-green-30: #6fdc8c;
    --color-green-30-hover: #36ce5e;
    --color-green-40: #42be65;
    --color-green-40-hover: #3bab5a;
    --color-green-50: #24a148;
    --color-green-50-hover: #208e3f;
    --color-green-60: #198038;
    --color-green-60-hover: #166f31;
    --color-green-70: #0e6027;
    --color-green-70-hover: #11742f;
    --color-green-80: #044317;
    --color-green-80-hover: #05521c;
    --color-green-90: #022d0d;
    --color-green-90-hover: #033b11;
    --color-green-100: #071908;
    --color-green-100-hover: #071908;
    --color-emerald-*: initial;
    --color-teal-*: initial;
    --color-teal-10: #d9fbfb;
    --color-teal-10-hover: #acf6f6;
    --color-teal-20: #9ef0f0;
    --color-teal-20-hover: #57e5e5;
    --color-teal-30: #3ddbd9;
    --color-teal-30-hover: #25cac8;
    --color-teal-40: #08bdba;
    --color-teal-40-hover: #07aba9;
    --color-teal-50: #009d9a;
    --color-teal-50-hover: #008a87;
    --color-teal-60: #007d79;
    --color-teal-60-hover: #006b68;
    --color-teal-70: #005d5d;
    --color-teal-70-hover: #007070;
    --color-teal-80: #004144;
    --color-teal-80-hover: #005357;
    --color-teal-90: #022b30;
    --color-teal-90-hover: #033940;
    --color-teal-100: #081a1c;
    --color-teal-100-hover: #0f3034;
    --color-cyan-*: initial;
    --color-cyan-10: #e5f6ff;
    --color-cyan-10-hover: #cceeff;
    --color-cyan-20: #bae6ff;
    --color-cyan-20-hover: #99daff;
    --color-cyan-30: #82cfff;
    --color-cyan-30-hover: #57beff;
    --color-cyan-40: #33b1ff;
    --color-cyan-40-hover: #059fff;
    --color-cyan-50: #1192e8;
    --color-cyan-50-hover: #0f7ec8;
    --color-cyan-60: #0072c3;
    --color-cyan-60-hover: #005fa3;
    --color-cyan-70: #00539a;
    --color-cyan-70-hover: #0066bd;
    --color-cyan-80: #003a6d;
    --color-cyan-80-hover: #00498a;
    --color-cyan-90: #012749;
    --color-cyan-90-hover: #013360;
    --color-cyan-100: #061727;
    --color-cyan-100-hover: #061727;
    --color-sky-*: initial;
    --color-blue-*: initial;
    --color-blue-10: #edf5ff;
    --color-blue-10-hover: #dbebff;
    --color-blue-20: #d0e2ff;
    --color-blue-20-hover: #b8d3ff;
    --color-blue-30: #a6c8ff;
    --color-blue-30-hover: #8ab6ff;
    --color-blue-40: #78a9ff;
    --color-blue-40-hover: #5c97ff;
    --color-blue-50: #4589ff;
    --color-blue-50-hover: #1f70ff;
    --color-blue-60: #0f62fe;
    --color-blue-60-hover: #0050e6;
    --color-blue-70: #0043ce;
    --color-blue-70-hover: #0053ff;
    --color-blue-80: #002d9c;
    --color-blue-80-hover: #0039c7;
    --color-blue-90: #001d6c;
    --color-blue-90-hover: #00258a;
    --color-blue-100: #001141;
    --color-blue-100-hover: #001f75;
    --color-indigo-*: initial;
    --color-violet-*: initial;
    --color-purple-*: initial;
    --color-purple-10: #f6f2ff;
    --color-purple-10-hover: #ede5ff;
    --color-purple-20: #e8daff;
    --color-purple-20-hover: #dcc7ff;
    --color-purple-30: #d4bbff;
    --color-purple-30-hover: #c5a3ff;
    --color-purple-40: #be95ff;
    --color-purple-40-hover: #ae7aff;
    --color-purple-50: #a56eff;
    --color-purple-50-hover: #9352ff;
    --color-purple-60: #8a3ffc;
    --color-purple-60-hover: #7822fb;
    --color-purple-70: #6929c4;
    --color-purple-70-hover: #7c3dd6;
    --color-purple-80: #491d8b;
    --color-purple-80-hover: #5b24ad;
    --color-purple-90: #31135e;
    --color-purple-90-hover: #40197b;
    --color-purple-100: #1c0f30;
    --color-purple-100-hover: #1c0f30;
    --color-fuchsia-*: initial;
    --color-pink-*: initial;
    --color-magenta-10: #fff0f7;
    --color-magenta-10-hover: #ffe0ef;
    --color-magenta-20: #ffd6e8;
    --color-magenta-20-hover: #ffbdda;
    --color-magenta-30: #ffafd2;
    --color-magenta-30-hover: #ff94c3;
    --color-magenta-40: #ff7eb6;
    --color-magenta-40-hover: #ff57a0;
    --color-magenta-50: #ee5396;
    --color-magenta-50-hover: #e3176f;
    --color-magenta-60: #d02670;
    --color-magenta-60-hover: #b0215f;
    --color-magenta-70: #9f1853;
    --color-magenta-70-hover: #bf1d63;
    --color-magenta-80: #740937;
    --color-magenta-80-hover: #8e0b43;
    --color-magenta-90: #510224;
    --color-magenta-90-hover: #68032e;
    --color-magenta-100: #2a0a18;
    --color-magenta-100-hover: #2a0a18;
    --color-rose-*: initial;
    --color-slate-*: initial;
    --color-cool-gray-10: #f2f4f8;
    --color-cool-gray-10-hover: #e4e9f1;
    --color-cool-gray-20: #dde1e6;
    --color-cool-gray-20-hover: #cdd3da;
    --color-cool-gray-30: #c1c7cd;
    --color-cool-gray-30-hover: #adb5bd;
    --color-cool-gray-40: #a2a9b0;
    --color-cool-gray-40-hover: #9199a1;
    --color-cool-gray-50: #878d96;
    --color-cool-gray-50-hover: #757b85;
    --color-cool-gray-60: #697077;
    --color-cool-gray-60-hover: #585e64;
    --color-cool-gray-70: #4d5358;
    --color-cool-gray-70-hover: #5d646a;
    --color-cool-gray-80: #343a3f;
    --color-cool-gray-80-hover: #434a51;
    --color-cool-gray-90: #21272a;
    --color-cool-gray-90-hover: #2b3236;
    --color-cool-gray-100: #121619;
    --color-cool-gray-100-hover: #121619;
    --color-gray-*: initial;
    --color-gray-10: #f4f4f4;
    --color-gray-10-hover: #e8e8e8;
    --color-gray-20: #e0e0e0;
    --color-gray-20-hover: #d1d1d1;
    --color-gray-30: #c6c6c6;
    --color-gray-30-hover: #b5b5b5;
    --color-gray-40: #a8a8a8;
    --color-gray-40-hover: #999999;
    --color-gray-50: #8d8d8d;
    --color-gray-50-hover: #7a7a7a;
    --color-gray-60: #6f6f6f;
    --color-gray-60-hover: #5e5e5e;
    --color-gray-70: #525252;
    --color-gray-70-hover: #636363;
    --color-gray-80: #393939;
    --color-gray-80-hover: #474747;
    --color-gray-90: #262626;
    --color-gray-90-hover: #333333;
    --color-gray-100: #161616;
    --color-gray-100-hover: #292929;
    --color-zinc-*: initial;
    --color-warm-gray-10: #f7f3f2;
    --color-warm-gray-10-hover: #f0e8e6;
    --color-warm-gray-20: #e5e0df;
    --color-warm-gray-20-hover: #d8d0cf;
    --color-warm-gray-30: #cac5c4;
    --color-warm-gray-30-hover: #b9b3b1;
    --color-warm-gray-40: #ada8a8;
    --color-warm-gray-40-hover: #9c9696;
    --color-warm-gray-50: #8f8b8b;
    --color-warm-gray-50-hover: #7f7b7b;
    --color-warm-gray-60: #726e6e;
    --color-warm-gray-60-hover: #605d5d;
    --color-warm-gray-70: #565151;
    --color-warm-gray-70-hover: #696363;
    --color-warm-gray-80: #3c3838;
    --color-warm-gray-80-hover: #4c4848;
    --color-warm-gray-90: #272525;
    --color-warm-gray-90-hover: #343232;
    --color-warm-gray-100: #171414;
    --color-warm-gray-100-hover: #171414;
    --color-neutral-*: initial;
    --color-stone-*: initial;
    --color-white: #ffffff;
    --color-white-hover: #f1f1f1;
    --color-black: #000000;
    --color-black-hover: #212121;
    --color-transparent: transparent;

    /* Color styles */
    --color-background: light-dark(var(--color-white), var(--color-gray-100));
    --color-background-hover: light-dark(
        var(--color-white-hover),
        var(--color-gray-100-hover)
    );
    --color-foreground: light-dark(var(--color-gray-100), var(--color-gray-10));
    --color-foreground-variant: light-dark(
        var(--color-gray-70),
        var(--color-gray-30)
    );
    --color-muted: light-dark(var(--color-gray-10), var(--color-gray-90));
    --color-muted-hover: light-dark(
        var(--color-gray-10-hover),
        var(--color-gray-90-hover)
    );
    --color-muted-foreground: light-dark(
        var(--color-gray-100),
        var(--color-gray-10)
    );
    --color-muted-foreground-variant: light-dark(
        var(--color-gray-40),
        var(--color-gray-60)
    );
    --color-border: light-dark(var(--color-gray-20), var(--color-gray-70));
    --color-border-hover: light-dark(
        var(--color-gray-20-hover),
        var(--color-gray-70-hover)
    );
    --color-primary: light-dark(var(--color-gray-100), var(--color-gray-10));
    --color-primary-hover: light-dark(
        var(--color-gray-100-hover),
        var(--color-gray-10-hover)
    );
    --color-primary-foreground: light-dark(
        var(--color-white),
        var(--color-gray-100)
    );
    --color-accent: light-dark(var(--color-blue-60), var(--color-blue-50));
    --color-accent-hover: light-dark(
        var(--color-blue-60-hover),
        var(--color-blue-50-hover)
    );
    --color-accent-foreground: light-dark(
        var(--color-white),
        var(--color-white)
    );
    --color-error: light-dark(var(--color-red-60), var(--color-red-50));
    --color-error-hover: light-dark(
        var(--color-red-60-hover),
        var(--color-red-50-hover)
    );
    --color-error-foreground: light-dark(
        var(--color-white),
        var(--color-white)
    );
}
