---
import { getTripById } from "@actions";
import Footer from "@components/layout/Footer.astro";
import Header from "@components/layout/Header.astro";
import Layout from "@components/layout/Layout.astro";
import Main from "@components/layout/Main.astro";
import ScrollToTop from "@components/layout/ScrollToTop.astro";

const { trip } = Astro.params;
const { data, error } = await Astro.callAction(getTripById, {
    id: trip,
    relative_url: true
});

if (error) {
    return Astro.redirect("/404");
}
---

<Layout
    title={data.title!}
    description={data.description}
    image={data.image}
    keywords={data.keywords}>
    <Header />
    <Main>
        {data.content}
    </Main>
    <Footer />
    <ScrollToTop />
</Layout>
