---
import type { BaseProps } from "@utils/props";

export type Props = BaseProps;

const { id, style, class: cls } = Astro.props;
---

<main
    {id}
    {style}
    class:list={cls}
    class="main flex h-auto w-full flex-col items-start justify-start gap-(--space-between) px-(--space-x)">
    <slot />
</main>

<style is:global>
    .sidebar ~ .main,
    .main:has(~ .sidebar) {
        margin-left: 256px;
        padding: 1.75rem;
        width: calc(100% - 256px);
    }
</style>
