---
import Footer from "@components/layout/Footer.astro";
import Header from "@components/layout/Header.astro";
import Layout from "@components/layout/Layout.astro";
import Main from "@components/layout/Main.astro";
import ContentSection from "@components/shared/ContentSection.astro";
import HeaderSection from "@components/shared/HeaderSection.astro";
import StageSection from "@components/shared/StageSection.astro";
import ScrollToTop from "@components/ui/ScrollToTop.astro";
import { actions } from "astro:actions";

const { trip, stage } = Astro.params;
const { data: contextData, error: contextError } = await Astro.callAction(
    actions.getTripById,
    {
        tripId: trip as any,
        fields: ["name", "date", "stages.url"],
        relative: true
    }
);

if (contextError) {
    return Astro.redirect("/404");
}

const { data, error } = await Astro.callAction(actions.getStageById, {
    tripId: trip as any,
    stageId: stage as any
});

if (error) {
    return Astro.redirect("/404");
}
---

<Layout
    title={data.title!}
    description={data.description}
    image={data.image}
    keywords={data.keywords}>
    <Header />
    <Main>
        <HeaderSection
            title={data.title!}
            subtitle=`${contextData.name} ${contextData.date!.getFullYear()}`
            image={data.image!}
        />
        <ContentSection content={data.content!} />
        <StageSection stages={contextData.stages as any} />
    </Main>
    <Footer />
    <ScrollToTop />
</Layout>
