---
import Layout from "@components/layout/Layout.astro";
import Main from "@components/layout/Main.astro";
import Sidebar from "@components/layout/Sidebar.astro";
---

<Layout title="Estadísticas">
    <Sidebar />
    <Main>Estadísticas</Main>
</Layout>
