---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="card">
        <div><img src="https://content-viajes.nationalgeographic.com.es/medio/2024/05/22/noruega_5f291173_240522130124_1280x772.jpg" alt="Lofoten" /></div>
        <span>Image caption</span>
    </div>
</Layout>
