---
import Layout from "@layouts/Layout.astro";
---

<Layout>
    <input type="checkbox" class="switch" />
    <label>
        <input type="checkbox" class="switch" />
        Label
    </label>
</Layout>
