---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="flex flex-col items-start justify-start">
        <h1 class="text-title">Title</h1>
        <h2 class="text-subtitle">Subtitle</h2>
        <h3 class="text-headline">Headline</h3>
        <p class="text-normal">Text</p>
        <span class="text-caption">Caption</span>
        <label class="text-label">Label</label>
        <div class="icon ibm-campsite"></div>
        <div class="icon-alt ibm-campsite"></div>
    </div>
</Layout>
