---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <label>
        <input type="checkbox" class="chk" />
        Label
    </label>
    <label>
        <input type="checkbox" class="chk" disabled checked/>
        Label
    </label>
</Layout>
