---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="flex flex-col gap-8">
        <div class="flex flex-col gap-2">
            <div class="flex flex-row gap-2">
                <button class="btn btn-primary"><span>Button</span></button>
                <button class="btn btn-primary"
                    ><i class="ibm-add"></i><span>Button</span></button
                >
                <button class="btn btn-primary"
                    ><span>Button</span><i class="ibm-add"></i></button
                >
                <button class="btn btn-primary"><i class="ibm-add"></i></button>
            </div>
            <div class="flex flex-row gap-2">
                <button class="btn btn-fill-primary"><span>Button</span></button
                >
                <button class="btn btn-fill-primary"
                    ><i class="ibm-add"></i><span>Button</span></button
                >
                <button class="btn btn-fill-primary"
                    ><span>Button</span><i class="ibm-add"></i></button
                >
                <button class="btn btn-fill-primary"
                    ><i class="ibm-add"></i></button
                >
            </div>
            <div class="flex flex-row gap-2">
                <button class="btn btn-outline-primary"
                    ><span>Button</span></button
                >
                <button class="btn btn-outline-primary"
                    ><i class="ibm-add"></i><span>Button</span></button
                >
                <button class="btn btn-outline-primary"
                    ><span>Button</span><i class="ibm-add"></i></button
                >
                <button class="btn btn-outline-primary"
                    ><i class="ibm-add"></i></button
                >
            </div>
        </div>
        <div class="flex flex-col gap-2">
            <div class="flex flex-row gap-2">
                <button class="btn btn-muted"><span>Button</span></button>
                <button class="btn btn-muted"
                    ><i class="ibm-add"></i><span>Button</span></button
                >
                <button class="btn btn-muted"
                    ><span>Button</span><i class="ibm-add"></i></button
                >
                <button class="btn btn-muted"><i class="ibm-add"></i></button>
            </div>
            <div class="flex flex-row gap-2">
                <button class="btn btn-fill-muted"><span>Button</span></button>
                <button class="btn btn-fill-muted"
                    ><i class="ibm-add"></i><span>Button</span></button
                >
                <button class="btn btn-fill-muted"
                    ><span>Button</span><i class="ibm-add"></i></button
                >
                <button class="btn btn-fill-muted"
                    ><i class="ibm-add"></i></button
                >
            </div>
            <div class="flex flex-row gap-2">
                <button class="btn btn-outline-muted"
                    ><span>Button</span></button
                >
                <button class="btn btn-outline-muted"
                    ><i class="ibm-add"></i><span>Button</span></button
                >
                <button class="btn btn-outline-muted"
                    ><span>Button</span><i class="ibm-add"></i></button
                >
                <button class="btn btn-outline-muted"
                    ><i class="ibm-add"></i></button
                >
            </div>
        </div>
        <div class="flex flex-col gap-2">
            <div class="flex flex-row gap-2">
                <button class="btn btn-accent"><span>Button</span></button>
                <button class="btn btn-accent"
                    ><i class="ibm-add"></i><span>Button</span></button
                >
                <button class="btn btn-accent"
                    ><span>Button</span><i class="ibm-add"></i></button
                >
                <button class="btn btn-accent"><i class="ibm-add"></i></button>
            </div>
            <div class="flex flex-row gap-2">
                <button class="btn btn-fill-accent"><span>Button</span></button
                >
                <button class="btn btn-fill-accent"
                    ><i class="ibm-add"></i><span>Button</span></button
                >
                <button class="btn btn-fill-accent"
                    ><span>Button</span><i class="ibm-add"></i></button
                >
                <button class="btn btn-fill-accent"
                    ><i class="ibm-add"></i></button
                >
            </div>
            <div class="flex flex-row gap-2">
                <button class="btn btn-outline-accent"
                    ><span>Button</span></button
                >
                <button class="btn btn-outline-accent"
                    ><i class="ibm-add"></i><span>Button</span></button
                >
                <button class="btn btn-outline-accent"
                    ><span>Button</span><i class="ibm-add"></i></button
                >
                <button class="btn btn-outline-accent"
                    ><i class="ibm-add"></i></button
                >
            </div>
        </div>
        <div class="flex flex-col gap-2">
            <div class="flex flex-row gap-2">
                <button class="btn btn-destructive"><span>Button</span></button>
                <button class="btn btn-destructive"
                    ><i class="ibm-add"></i><span>Button</span></button
                >
                <button class="btn btn-destructive"
                    ><span>Button</span><i class="ibm-add"></i></button
                >
                <button class="btn btn-destructive"><i class="ibm-add"></i></button>
            </div>
            <div class="flex flex-row gap-2">
                <button class="btn btn-fill-destructive"><span>Button</span></button>
                <button class="btn btn-fill-destructive"
                    ><i class="ibm-add"></i><span>Button</span></button
                >
                <button class="btn btn-fill-destructive"
                    ><span>Button</span><i class="ibm-add"></i></button
                >
                <button class="btn btn-fill-destructive"
                    ><i class="ibm-add"></i></button
                >
            </div>
            <div class="flex flex-row gap-2">
                <button class="btn btn-outline-destructive"
                    ><span>Button</span></button
                >
                <button class="btn btn-outline-destructive"
                    ><i class="ibm-add"></i><span>Button</span></button
                >
                <button class="btn btn-outline-destructive"
                    ><span>Button</span><i class="ibm-add"></i></button
                >
                <button class="btn btn-outline-destructive"
                    ><i class="ibm-add"></i></button
                >
            </div>
        </div>
    </div>
</Layout>
