---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="img w-96">
        <img
            src="https://content-viajes.nationalgeographic.com.es/medio/2024/05/22/noruega_5f291173_240522130124_1280x772.jpg"
            alt="Lofoten"
        />
        <span>Image caption</span>
    </div>
</Layout>
