---
import Header from "@components/Header.astro";
import "@styles/global.css";
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>Mi Roulotte</title>
        <script src="@scripts/slider.js"></script>
    </head>
    <body>
        <Header />
        <h1 class="text-title">Mi Roulotte</h1>
        <p class="text-normal">¡Nos vemos en la carretera!</p>
    </body>
</html>
