---
import Layout from "@components/layout/Layout.astro";

export const prerender = true;
---

<Layout
    title="Mi Roulotte"
    description="Disfruta de los emocionantes viajes en familia que hemos realizado con nuestra caravana. Explora nuevos lugares, crea recuerdos inolvidables y vive la libertad en la carretera. ¡Nos vemos en la carretera!"
    keywords={[
        "mi roulotte",
        "roulotte",
        "camping",
        "caravana",
        "autocaravana",
        "camper",
        "tienda de campaña",
        "viajes en familia",
        "viajes en caravana",
        "rutas en caravana",
        "viajes en autocaravana",
        "rutas en autocaravana",
        "viajes en camper",
        "rutas en camper",
        "viajes en roulotte",
        "rutas en roulotte",
        "viajes por carretera",
        "aventura al aire libre",
        "destinos de viaje",
        "naturaleza y viajes",
        "experiencias de viaje",
        "road trip",
        "consejos de viaje",
        "turismo rural",
        "turismo sostenible",
        "turismo de naturaleza",
        "viajes económicos",
        "naturaleza y aventura",
        "equipamiento camping",
        "consejos para acampar",
        "europa",
        "españa",
        "portugal",
        "francia",
        "italia",
        "alemania",
        "suiza",
        "belgica",
        "holanda"
    ]}>
    <h1>Mi Roulotte</h1>
</Layout>
