---
import Footer from "@components/layout/Footer.astro";
import Header from "@components/layout/Header.astro";
import Layout from "@components/layout/Layout.astro";
import Main from "@components/layout/Main.astro";

export const prerender = true;
---

<Layout
    title="Mi Roulotte"
    description="Disfruta de los emocionantes viajes en familia que hemos realizado con nuestra caravana. Explora nuevos lugares, crea recuerdos inolvidables y vive la libertad en la carretera. ¡Nos vemos en la carretera!"
    keywords={[
        "mi roulotte",
        "roulotte",
        "camping",
        "caravana",
        "autocaravana",
        "camper",
        "tienda de campaña",
        "viajes en familia",
        "viajes en caravana",
        "rutas en caravana",
        "viajes en autocaravana",
        "rutas en autocaravana",
        "viajes en camper",
        "rutas en camper",
        "viajes en roulotte",
        "rutas en roulotte",
        "viajes por carretera",
        "aventura al aire libre",
        "destinos de viaje",
        "naturaleza y viajes",
        "experiencias de viaje",
        "road trip",
        "consejos de viaje",
        "turismo rural",
        "turismo sostenible",
        "turismo de naturaleza",
        "viajes económicos",
        "naturaleza y aventura",
        "equipamiento camping",
        "consejos para acampar",
        "europa",
        "españa",
        "portugal",
        "francia",
        "italia",
        "alemania",
        "suiza",
        "belgica",
        "holanda"
    ]}>
    <Header />
    <Main>
        <h1>Mi Roulotte</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro ex,
            hic vero autem rerum aspernatur iusto repellat fugit quisquam
            quaerat explicabo incidunt nemo voluptate quasi ut obcaecati enim
            aperiam quod? Lorem ipsum dolor sit, amet consectetur adipisicing
            elit. Eum totam, vero ipsa nesciunt aliquam dolorem est vitae
            asperiores? At laborum perferendis consequatur explicabo illum
            iusto, libero incidunt minus! Provident, quidem? Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Placeat adipisci est, amet
            tenetur dolorem consectetur deserunt accusantium voluptatibus, eius
            animi id vitae ex ab nesciunt nemo vel, aut ipsum impedit.
        </p>
    </Main>
    <Footer />
</Layout>
