---
import Layout from "@layouts/Layout.astro";
---

<Layout
    title="Mi Roulotte"
    description="Disfruta de los emocionantes viajes en familia que hemos realizado con nuestra caravana. Explora nuevos lugares, crea recuerdos inolvidables y vive la libertad en la carretera. ¡Nos vemos en la carretera!"
    image="/images/miroulotte.png"
    keywords={[
        "mi roulotte",
        "miroulotte.es",
        "caravana",
        "knaus",
        "camping",
        "viajes",
        "europa",
        "alemania",
        "francia",
        "españa",
        "portugal",
        "paises bajos",
        "holanda",
        "belgica",
        "italia",
        "brico caravana",
        "brico-cv",
        "bricolaje",
    ]}>
    <h1>Mi Roulotte</h1>
</Layout>
