---
export interface Props {
    id?: string;
}

const { id } = Astro.props;
---

<main {id} class:list={["main", (Astro.props as any).class]}>
    <slot />
</main>

<style>
    .main {
        --main-spacing: 2.4rem;

        width: 100%;
        height: auto;
        padding: 0 var(--horizontal-padding);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: var(--main-spacing);
    }
</style>
