---
export interface Props {
    id?: string;
    template:
        | 1
        | 2
        | 3
        | 4
        | 5
        | 6
        | 7
        | 8
        | 9
        | 10
        | 11
        | 12
        | 13
        | 14
        | 15
        | 16;
}

const { id, template } = Astro.props;
---

<div {id} class:list={["mosaic", (Astro.props as any).class]}>
    <slot />
</div>

<style define:vars={{ template }}>
    .mosaic {
        --mosaic-spacing: calc(var(--media-spacing) * 2);

        display: grid;
        grid-template-columns: repeat(
            var(--template),
            calc(
                (
                        100vw - var(--horizontal-padding) * 2 -
                            var(--mosaic-spacing) * (var(--template) - 1)
                    ) / var(--template)
            )
        );
        grid-gap: var(--mosaic-spacing);
        grid-auto-rows: calc(
            (
                    100vw - var(--horizontal-padding) * 2 -
                        var(--mosaic-spacing) * (var(--template) - 1)
                ) / var(--template)
        );
    }
</style>

<style is:global>
    .mosaic > * {
        width: 100%;
        height: 100%;
        grid-column: span 4;
        grid-row: span 3;
    }

    .mosaic > .col-1 {
        grid-column: span 1 !important;
    }

    .mosaic > .col-2 {
        grid-column: span 2 !important;
    }

    .mosaic > .col-3 {
        grid-column: span 3 !important;
    }

    .mosaic > .col-4 {
        grid-column: span 4 !important;
    }

    .mosaic > .col-5 {
        grid-column: span 5 !important;
    }

    .mosaic > .col-6 {
        grid-column: span 6 !important;
    }

    .mosaic > .col-7 {
        grid-column: span 7 !important;
    }

    .mosaic > .col-8 {
        grid-column: span 8 !important;
    }

    .mosaic > .col-9 {
        grid-column: span 9 !important;
    }

    .mosaic > .col-10 {
        grid-column: span 10 !important;
    }

    .mosaic > .col-11 {
        grid-column: span 11 !important;
    }

    .mosaic > .col-12 {
        grid-column: span 12 !important;
    }

    .mosaic > .col-13 {
        grid-column: span 13 !important;
    }

    .mosaic > .col-14 {
        grid-column: span 14 !important;
    }

    .mosaic > .col-15 {
        grid-column: span 15 !important;
    }

    .mosaic > .col-16 {
        grid-column: span 16 !important;
    }

    .mosaic > .row-1 {
        grid-row: span 1 !important;
    }

    .mosaic > .row-2 {
        grid-row: span 2 !important;
    }

    .mosaic > .row-3 {
        grid-row: span 3 !important;
    }

    .mosaic > .row-4 {
        grid-row: span 4 !important;
    }

    .mosaic > .row-5 {
        grid-row: span 5 !important;
    }

    .mosaic > .row-6 {
        grid-row: span 6 !important;
    }

    .mosaic > .row-7 {
        grid-row: span 7 !important;
    }

    .mosaic > .row-8 {
        grid-row: span 8 !important;
    }

    .mosaic > .row-9 {
        grid-row: span 9 !important;
    }

    .mosaic > .row-10 {
        grid-row: span 10 !important;
    }

    .mosaic > .row-11 {
        grid-row: span 11 !important;
    }

    .mosaic > .row-12 {
        grid-row: span 12 !important;
    }

    .mosaic > .row-13 {
        grid-row: span 13 !important;
    }

    .mosaic > .row-14 {
        grid-row: span 14 !important;
    }

    .mosaic > .row-15 {
        grid-row: span 15 !important;
    }

    .mosaic > .row-16 {
        grid-row: span 16 !important;
    }
</style>
