<div class="flex w-full flex-row items-center justify-end gap-2">
    <button class="load button button-fill-muted mr-auto">
        <i class="ibm-launch"></i>
    </button>
    <button class="copy button button-fill-muted">
        <i class="ibm-copy"></i>
    </button>
    <button class="add-block button button-fill-primary">
        <i class="ibm-add"></i>
        <span>Añadir un bloque</span>
    </button>
    <button class="save button button-fill-accent">
        <i class="ibm-save"></i>
        <span>Guardar</span>
    </button>
</div>
<block-editor class="editor h-auto w-full"></block-editor>

<style is:global>
    /* Editor */
    block-editor {
        /* Block List */
        .block-list {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
        }

        /* Toolbar */
        .toolbar {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            flex-direction: row;
            justify-content: center;
            translate: -50% -100%;
            z-index: 10;
            background-color: var(--color-muted);
            width: auto;
            height: 40px;
            min-height: 40px;
            max-height: 40px;

            /* Components */
            button.button {
                padding: 0 calc(10px * 24 / 18);
                min-width: 2.5rem;
                height: 2.5rem;
                min-height: 2.5rem;
                max-height: 2.5rem;
                text-wrap: nowrap;

                &.button-fill-accent {
                    background-color: light-dark(
                        var(--color-blue-10),
                        var(--color-blue-90)
                    );
                    color: var(--color-accent);

                    &:hover {
                        background-color: light-dark(
                            var(--color-blue-10-hover),
                            var(--color-blue-90-hover)
                        );
                    }
                }

                &:has(i:first-child) {
                    padding-left: 10px;
                }

                &:has(i:last-child) {
                    padding-right: 10px;
                }
            }

            input[type="text"].input {
                border: none;
                padding: 0 calc(10px * 24 / 18);
                min-width: 16rem;
                height: 2.5rem;
                min-height: 2.5rem;
                max-height: 2.5rem;
            }

            label:has(input[type="checkbox"].switch) {
                padding: 0 calc(10px * 24 / 18);
                min-width: 16rem;
                height: 2.5rem;
                min-height: 2.5rem;
                max-height: 2.5rem;

                > input {
                    margin-left: auto;
                }
            }

            hr {
                border-width: 1px !important;
                border-top-style: none !important;
                border-left-style: solid !important;
                border-color: var(--color-muted-hover) !important;
                width: 0;
                height: 2.5rem;
            }

            div.group {
                position: relative;

                > div:not(.group) {
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    background-color: var(--color-muted);
                }

                &:hover > div:not(.group) {
                    display: flex;
                }

                button.button {
                    justify-content: flex-start;
                    width: 100%;
                }

                hr {
                    border-top-style: solid !important;
                    border-left-style: none !important;
                    width: 100%;
                    height: 0;
                }

                div.group > div:not(.group) {
                    top: 0;
                    left: 100%;
                }
            }

            div.color-palette {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 0.5rem;
                padding: calc(10px * 24 / 18);
                width: calc(2rem * 3 + 0.5rem * 2 + (10px * 24 / 18) * 2);

                > button {
                    cursor: pointer;
                    width: 2rem;
                    height: 2rem;
                }
            }
        }

        /* Blocks */
        .block {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: start;
            gap: 0.375rem;
            width: 100%;
            height: auto;
            min-height: 2rem;

            > .controls {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                opacity: 0;
                transition-duration: 150ms;
                transition-property: opacity;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                pointer-events: none;

                .button {
                    padding: 0 0.375rem;
                    min-width: 2rem;
                    height: 2rem;
                    min-height: 2rem;
                    max-height: 2rem;
                }

                .draggable {
                    cursor: grab;
                }
            }

            > .content {
                flex-grow: 1;
                width: 100%;
                min-height: 32px;
            }

            &.dragging:hover .controls {
                opacity: 1;
                pointer-events: all;

                .draggable {
                    cursor: grabbing;
                }
            }

            &.ghost-dragged {
                opacity: 0;
            }

            &:first-child {
                margin-top: 0 !important;
            }

            &:last-child {
                margin-bottom: 0 !important;
            }
        }

        .block-list:not(:has(.dragging)) .block:hover {
            > .controls {
                opacity: 1;
                pointer-events: all;
            }
        }
    }

    /* Blocks */
    heading-block {
        margin-top: calc(var(--space) * 3);
        margin-bottom: var(--space);

        .content {
            outline: none;
            padding-top: 0.125rem;
            color: var(--color-foreground);
            font-style: normal;
            font-weight: 600;
            font-size: 1.25rem;
            line-height: calc(1.75 / 1.25);
            font-family: var(--font-sans);
            letter-spacing: 0em;
            text-align: left;

            /* Placeholder */
            &:has(:first-child.ProseMirror-trailingBreak)::before {
                position: absolute;
                content: "Escribe tu título aquí...";
                color: light-dark(var(--color-gray-40), var(--color-gray-60));
            }
        }
    }

    paragraph-block {
        margin-top: var(--space);
        margin-bottom: var(--space);

        .content {
            cursor: text;
            outline: none;
            padding-top: 0.25rem;
            color: var(--color-foreground-variant);
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: calc(1.5 / 1);
            font-family: var(--font-sans);
            letter-spacing: 0em;
            text-align: justify;

            /* Placeholder */
            &:has(:first-child.ProseMirror-trailingBreak)::before {
                position: absolute;
                content: "Escribe tu párrafo aquí...";
                color: light-dark(var(--color-gray-40), var(--color-gray-60));
            }

            /* Text styles */
            a {
                transition-duration: 150ms;
                transition-property: color;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                color: var(--color-accent);
                font-weight: 600;

                &:hover {
                    color: var(--color-accent-hover);
                }
            }

            b {
                color: var(--color-foreground-variant);
                font-weight: 600;
            }
        }
    }
</style>

<script>
    import { Editor } from "./editor";

    document.querySelector(".load")!.addEventListener("click", () => {
        (document.querySelector("block-editor") as Editor).load([
            {
                type: "paragraph",
                data: {
                    text: "Después de intentar el pasado año este viaje a Italia y cancelarle a última hora por causa de la pandemia, este año si... Teníamos muchas ganas y al final lo pudimos hacer. El pasado verano tres semanas antes de coger el barco con destino a Italia por algún cambio en las condiciones por parte de Grimaldi Lines, nos dieron la opción de la devolución del dinero de nuestros billetes y por la incertidumbre del viaje le cancelamos y nos fuimos a Portugal de relax."
                }
            },
            {
                type: "paragraph",
                data: {
                    text: "En el relato que hago de nuestras vacaciones cuento las cosas que más me llamaron la atención y algunas anécdotas que me parecen interesantes. También doy algunos datos sobre una cosa que a mí me gusta mucho y fue una de mis razones para hacer este viaje... La comida italiana. Al dar información sobre los campings, los precios son para una caravana + coche + electricidad + cuatro adultos, nos hemos hecho mayores y en casi todos los campings pagamos como adultos. Los precios de los carburantes varían mucho según donde repostes, lo más caro era en las autopistas y lo más económico en las gasolineras de los supermercados."
                }
            },
            {
                type: "paragraph",
                data: [
                    {
                        text: "Hemos acampado en 9 campings distintos y desde estos campings visitábamos varios lugares. En años anteriores en nuestros viajes fuera de España, llevábamos el frigorífico lleno de comida, este año al coger el ferry y tener la caravana muchas horas sin electricidad el frigo fue vacío... Nos llevamos una "
                    },
                    {
                        text: "nevera a compresor",
                        url: "https://www.amazon.es/Alpicool-El%C3%A9ctrica-Frigor%C3%ADficos-Refrigerador-congelador/dp/B08HLJMK11?ref_=ast_sto_dp&th=1&psc=1&_encoding=UTF8&tag=miroulotte01-21&linkCode=ur2&linkId=a83a72cc899348ab4203503929a4008d&camp=3638&creative=24630",
                        self: false
                    },
                    { text: "/n" },
                    {
                        text: " de 20 litros que nos vino genial, la subimos al camarote del barco con nuestra comida para el viaje y luego durante las vacaciones nos sirvió de frigorífico, pues nuestra nevera trivalente de la caravana nos falló por las altas temperaturas."
                    }
                ]
            },
            {
                type: "paragraph",
                data: {
                    text: "Unos días antes de salir mi padre tenía todo listo, con todos lugares a visitar y los itinerarios. Es la primera vez que íbamos con reservas en la mayoría de los campings, al no cobrar reserva y poder anular y cambiar fechas por la pandemia."
                }
            },
            {
                type: "paragraph",
                data: {
                    text: "En este viaje metimos en el maletero nuestro pingüino que nos vino fenomenal en la primera parte del viaje."
                }
            },
            {
                type: "heading",
                data: {
                    text: "¿Ir a Italia en ferry o hacer el viaje por carretera?"
                }
            },
            {
                type: "paragraph",
                data: {
                    text: "Después de ver los gastos del viaje por carretera hasta Barcelona más el precio del ferry a la ida y los gastos en peajes, gasóleo y campings (a la vuelta pernoctamos en dos campings de Francia) podemos decir que económicamente sale parecido, pierdes un día si vas por carretera haciendo el viaje en tres etapas como fue nuestro caso, en ferry llegas con unos cuantos kilómetros menos a la espalda. Nosotros si repetimos el viaje alguna vez intentaríamos viajar en barco pese a lo aburrido que es."
                }
            },
            {
                type: "paragraph",
                data: {
                    text: "El precio de nuestro ferry fue de 394 euros. El gasto de la vuelta desde Deiva Marina (nuestra última parada en Italia) fueron 190 euros en combustible, 164 euros en peajes más el coste de los dos campings de Francia."
                }
            },
            {
                type: "paragraph",
                data: {
                    text: "Al final nuestro recorrido y nuestros campings-paradas fueron: Burgos, Barcelona (cogimos el ferry), Roma, Cerveteri, Sovicille, Firenze, Venezia, Alpo, Deiva Marina, Saint-Martin-de-Crau, Gardères y de vuelta a casa (Burgos)."
                }
            }
        ]);
    });
    document.querySelector(".copy")!.addEventListener("click", () => {
        navigator.clipboard.writeText(
            JSON.stringify(
                (document.querySelector("block-editor") as Editor).save()
            )
        );
    });
    document.querySelector(".add-block")!.addEventListener("click", () => {
        (document.querySelector("block-editor") as Editor).addBlock(
            "paragraph"
        );
    });
    document.querySelector(".save")!.addEventListener("click", () => {
        console.log(
            JSON.stringify(
                (document.querySelector("block-editor") as Editor).save(),
                null,
                4
            )
        );
    });
    document.querySelector(".load")!.dispatchEvent(new CustomEvent("click"));
</script>
