---
import Layout from "@components/layout/Layout.astro";
import Main from "@components/layout/Main.astro";
import Editor from "@components/ui/Editor/index.astro";
---

<Layout title="Editor">
    <Main class="pt-(--space-y)">
        <Editor />
    </Main>
</Layout>
