---
import type { BaseProps } from "@interfaces/props";

export type Props = BaseProps;

const { id, style, class: cls } = Astro.props;
---

<button
    {id}
    {style}
    class:list={cls}
    class="scroll-to-top button clip-left button-fill-primary fixed right-0 bottom-32 z-[80] transition-[background-color,color,clip-path] duration-[100ms,100ms,300ms] max-sm:bottom-40">
    <i class="ibm-chevron-up"></i>
</button>

<script>
    const scrollButton =
        document.body.querySelector<HTMLButtonElement>(".scroll-to-top")!;
    let visible = false;

    const scrollCallback = () => {
        if (window.scrollY > window.innerHeight / 3 && !visible) {
            scrollButton.classList.add("clip-none");
            visible = true;
        } else if (window.scrollY <= window.innerHeight / 3 && visible) {
            scrollButton.classList.remove("clip-none");
            visible = false;
        }
    };
    const clickCallback = () => {
        window.scrollTo({ top: 0, behavior: "smooth" });
    };

    window.addEventListener("scroll", scrollCallback);
    scrollButton.addEventListener("click", clickCallback);
</script>
